body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type = "number"], input[type = "submit"] {
    padding: 8px;
    border:  1px solid #ccc;
    border-radius: 4px;
}

input[type = "submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: darkgrey;
}

tr:nth-child(even) {
    background-color: ivory;
}

.scrollable-container {
    max-height: 400px;
    overflow: auto;
}